@import url(https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.header, .main, .footer {
  border: 1px dotted #ea5353; }
