@import url(https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

body {
  background: #fafafa; }

.page-wrapper {
  padding: 7%; }

.header, .main, .footer, .card {
  border: 1px dotted #ea5353; }

.header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem; }

.title {
  font-size: 1.7rem;
  font-weight: 200;
  color: #a3a5ae; }

.subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  color: #4c4e61;
  margin-bottom: 1rem; }

.header p {
  font-size: 1rem;
  font-weight: 400;
  color: #a3a5ae; }

.main {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr;
  justify-items: center; }

.card {
  padding: 1rem 2rem;
  background: white;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 320px;
  height: 230px;
  display: grid;
  grid-rows-template: 1fr; }

.card h3 {
  color: #4c4e61;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.4rem; }

.card p {
  color: #a3a5ae;
  font-size: 0.9rem;
  font-weight: 400; }

.card img {
  justify-self: right;
  align-self: center; }

.supervisor-card {
  border-top: 3px solid #45d3d3; }

.team-builder-card {
  border-top: 3px solid #ea5353; }

.karma-card {
  border-top: 3px solid #fcaf4a; }

.calculator-card {
  border-top: 3px solid #549ef2; }

@media screen and (min-width: 1440px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; }
  .supervisor-card {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2; }
  .team-builder-card {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; }
  .karma-card {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3; }
  .calculator-card {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4; } }
